<configuration>

<system.webserver>

<rewrite>

<rules>

<rule name="Imported Rule 1" stopprocessing="true">

<match url="^(.*)/$" ignorecase="false"/>

<conditions logicalgrouping="MatchAll">

<add input="{REQUEST_FILENAME}" matchtype="IsDirectory" ignorecase="false" negate="true"/>

</conditions>

<action type="Redirect" url="/{R:1}" redirecttype="Permanent"/>

</rule>

<rule name="Imported Rule 2" stopprocessing="true">

<match url="^" ignorecase="false"/>

<conditions logicalgrouping="MatchAll">

<add input="{REQUEST_FILENAME}" matchtype="IsDirectory" ignorecase="false" negate="true"/>

<add input="{REQUEST_FILENAME}" matchtype="IsFile" ignorecase="false" negate="true"/>

</conditions>

<action type="Rewrite" url="index.php"/>

</rule>

</rules>

</rewrite>

</system.webserver>

</configuration>