@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "open-iconic-bootstrap";

@import "index";

body {
  margin-top: 76px;
}

.dashboard-table {
  margin-top: 1em;
}

.conference-detail-content {
  margin-top: 1em;
}

.conference-detail-thumbnail {
  margin-top: 1em;
}